<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopify Products Dashboard</title>
</head>

<body>
    <form method="GET" action="{% url 'get_shopify_product' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="last_product_id" value="{{ last_product_id }}">
        <button type=submit>Retrive Products</button>
    </form>
    {% if saved_products %}
    {% for product in saved_products %}
    <p>Product ID: {{ product.product_id }}</p>
    <p>Name: {{ product.name }}</p>
    <p>Price: {{ product.price }}</p>
    <p>Status: {{ product.status }}</p>
    <p>Updated_at: {{ product.updated_at }}</p>
    <hr>
    {% endfor %}
    {% else %}
    <p>No Products to display!</p>
    {% endif %}
</body>

</html>